In [1]:
from src import stock,blsh,support_resistence

In [2]:
symbol = 'TATAMOTORS.NS'        #use yahoo symbols
start_date = '2018-12-01'    #start dates for historical data
end_date = '2021-04-17'

In [3]:
buy = stock.Stock(symbol, start_date, end_date)

In [4]:
buy.load_data()

In [5]:
buy.stock_data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-03,176.449997,170.000000,173.250000,175.449997,14068885.0,175.449997
2018-12-04,178.750000,175.300003,177.949997,175.750000,11481923.0,175.750000
2018-12-05,173.000000,168.600006,173.000000,169.199997,14960527.0,169.199997
2018-12-06,168.699997,161.600006,168.500000,162.649994,15428019.0,162.649994
2018-12-07,164.199997,160.800003,162.250000,162.399994,13545006.0,162.399994
...,...,...,...,...,...,...
2021-04-09,325.000000,312.500000,313.200012,318.200012,75462572.0,318.200012
2021-04-12,307.850006,282.899994,307.850006,286.549988,105342538.0,286.549988
2021-04-13,304.549988,280.549988,287.250000,302.850006,116874853.0,302.850006
2021-04-15,307.549988,296.500000,303.000000,303.500000,75262749.0,303.500000
2021-04-16,315.000000,300.149994,302.000000,310.000000,75330709.0,310.000000

In [6]:
buy.SMA()

In [7]:
buy.EMA()

In [8]:
buy.APO()

In [9]:
buy.MACD()

In [10]:
buy.bBand()

In [11]:
buy.RSI()

In [12]:
buy.standardDeviation()

In [13]:
buy.momentum()

In [14]:
buy = support_resistence.supportAndResistence(buy)

In [15]:
buy.generateSignal()

In [16]:
buy.Call()

'Hold'

In [17]:
buy.mostRecentCall()

'Sell'

In [18]:
buy.makePortfolio()

In [19]:
buy.profit()

180.50003051757812