In [1]:
from src import stock,blsh

In [2]:
symbol = 'SBICARD.NS'        #use yahoo symbols
start_date = '2018-12-01'    #start dates for historical data
end_date = '2021-01-01'

In [3]:
buy = stock.Stock(symbol, start_date, end_date)

In [4]:
buy = blsh.BLSH(buy)

In [5]:
buy.generateSignal()

In [6]:
buy.signal

                 Price  Price Difference  Signal  Position
Date
2020-03-16  680.135010               NaN     0.0       NaN
2020-03-17  729.543091         49.408081     1.0       1.0
2020-03-18  687.920532        -41.622559     0.0      -1.0
2020-03-19  690.765198          2.844666     1.0       1.0
2020-03-20  723.154968         32.389771     1.0       0.0
...                ...               ...     ...       ...
2020-12-28  840.000000          4.799988     1.0       0.0
2020-12-29  840.700012          0.700012     1.0       0.0
2020-12-30  850.849976         10.149963     1.0       0.0
2020-12-31  851.049988          0.200012     1.0       0.0
2021-01-01  852.849976          1.799988     1.0       0.0

[200 rows x 4 columns]

In [7]:
buy.Call()

'Hold'

In [8]:
buy.mostRecentCall()

'Buy'

In [9]:
buy.makePortfolio(capital=1000.0)

In [10]:
print(buy.portfolio)

             positions        cash        total
Date
2020-03-16    0.000000         NaN          NaN
2020-03-17  729.543091  270.456909  1000.000000
2020-03-18    0.000000  958.377441   958.377441
2020-03-19  690.765198  267.612244   958.377441
2020-03-20  723.154968  267.612244   990.767212
...                ...         ...          ...
2020-12-28  840.000000  203.687683  1043.687683
2020-12-29  840.700012  203.687683  1044.387695
2020-12-30  850.849976  203.687683  1054.537659
2020-12-31  851.049988  203.687683  1054.737671
2021-01-01  852.849976  203.687683  1056.537659

[200 rows x 3 columns]

In [11]:
buy.profit()

56.53765869140625

In [12]:
buy.percentageReturn()

0.0831271113523316

In [13]:
buy.signal

                 Price  Price Difference  Signal  Position
Date
2020-03-16  680.135010               NaN     0.0       NaN
2020-03-17  729.543091         49.408081     1.0       1.0
2020-03-18  687.920532        -41.622559     0.0      -1.0
2020-03-19  690.765198          2.844666     1.0       1.0
2020-03-20  723.154968         32.389771     1.0       0.0
...                ...               ...     ...       ...
2020-12-28  840.000000          4.799988     1.0       0.0
2020-12-29  840.700012          0.700012     1.0       0.0
2020-12-30  850.849976         10.149963     1.0       0.0
2020-12-31  851.049988          0.200012     1.0       0.0
2021-01-01  852.849976          1.799988     1.0       0.0

[200 rows x 4 columns]